[Unit]
Description=Hotify Service
After=network.target

[Service]
ExecStart=/path/to/hotify/binary
Restart=always
# add required environment variables here
# for example for golang or other things required for building and running your services

[Install]
WantedBy=multi-user.target